/* Шрифты */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

/* Основа сайта, шапка и подвал*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

.img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  min-height: 100%;
  width: 1200px;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.header-nav {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: 30px;
  min-height: 65px;
  padding: 0 72px;
}

.nav-list {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  list-style: none;
  font-style: normal;
}

.nav-item {
  display: flex;
  align-items: center;
}

.user-list {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  max-width: 322px;
}

.logo {
  position: relative;
  z-index: 1;
  margin-bottom: -10px;
}

.logo-img {
  display: block;
}

.nav-link {
  display: block;
  padding: 17px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.user-list > .user-link {
  position: relative;
  display: grid;
  place-content: center;
  width: 42px;
  height: 42px;
  fill: rgba(0, 0, 0, 1);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.nav-link:hover {
  color: rgba(117, 98, 87, 1);
}

.nav-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.nav-item-active {
  position: relative;
}

.nav-item-active::after {
  content: "";
  position: absolute;
  right: 17px;
  left: 17px;
  bottom: 0;
  height: 2px;
  background-color: rgba(117, 98, 87, 1);
}

.count-number {
  position: absolute;
  top: 3px;
  right: -3px;
  min-width: 20px;
  height: 20px;
  padding: 0 4px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  background-color: rgba(125, 181, 80, 1);
  border-radius: 50%;
}

.user-link:hover {
  fill: rgba(117, 98, 87, 1);
}

.user-link:active {
  fill: rgba(117, 98, 87, 0.3);
}

.user-link:active .count-number {
  color: rgba(255, 255, 255, 0.3);
}

.button {
  display: block;
  width: 160px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(117, 98, 87, 1);
  text-decoration: none;
  padding: 9px 15px 8px 15px;
  border-radius: 4px;
  font-weight: 700;
}

.button:hover {
  background-color: rgba(97, 80, 72, 1);
}

.button:focus:not(:active) {
  outline: 3px solid rgba(131, 179, 211, 1);
  outline-offset: 0px;
}

.button:active {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.user-list .button {
  min-width: 160px;
  margin-left: 20px;
}

.page-footer-container {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  gap: 30px;
  padding: 27px 62px 20px;
}

.media-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: center;
  list-style-type: none;
  margin-top: 8px;
  margin-right: -2px;
  margin-left: -2px;
  padding: 0;
}

.media-item {
  margin: 2px;
}

.media-link {
  display: grid;
  place-content: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.media-icon {
  fill: rgba(131, 179, 211, 1);
}

.media-link:hover > .media-icon {
  fill: rgba(104, 162, 202, 1);
}

.media-link:active > .media-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.media-link:focus:not(:active) {
  outline: 3px solid rgba(131, 179, 211, 1);
  outline-offset: -3px;
}

.media-link:active {
  outline: none;
}

.footer-contact-phone {
  padding: 15px;
  border-radius: 10px;
  color: rgba(0, 0, 0, 1);
  align-self: center;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-contact-phone:hover {
  color: rgba(117, 98, 87, 1);
}

.footer-contact-phone:focus:not(:active) {
  outline: 3px solid rgba(131, 179, 211, 1);
  outline-offset: -3px;
}

.footer-contact-phone:active {
  color: rgba(117, 98, 87, 0.3);
  outline: none;
}

.footer-developer-logo {
  display: block;
  margin-right: -12px;
  padding: 16px 22px;
  justify-self: end;
  border-radius: 10px;
}

.footer-developer-logo:hover > .footer-developer-logo-svg {
  fill: rgba(117, 98, 87, 1);
}

.footer-developer-logo:focus {
  outline: 3px solid rgba(131, 179, 211, 1);
}

.footer-developer-logo:active > .footer-developer-logo-svg {
  fill: rgba(117, 98, 87, 0.3);
}

/* Главная страница */

.section-title {
  color: rgba(0, 0, 0, 1);
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.section-text {
  font-size: 22px;
  line-height: 36px;
  margin: 0 240px;
  margin-bottom: 80px;
  align-self: center;
}

.section-text-main {
  font-style: normal;
  line-height: 26px;
  margin-bottom: 56px;
}

.welcome-background {
  background-color: rgba(131, 179, 211, 1);
  background-image: url("../image/header-background.jpg");
  background-repeat: no-repeat;
  position: relative;
  width: 1200px;
  height: 485px;
  flex-shrink: 0;
  margin-bottom: 63px;
}

.welcome-svg {
  background-image: url("../image/welcome.svg");
  background-repeat: no-repeat;
  width: 458px;
  height: 352px;
  position: absolute;
  top: 51px;
  right: 50%;
  left: 50%;
  transform: translate(-50%);
}

.decorated-background {
  background-image: url("../image/border-header.svg");
  width: 1200px;
  height: 57px;
  flex-shrink: 0;
  position: absolute;
  bottom: 0;
}

.advantages {
  text-align: center;
}

.advantages-content {
  padding: 62px 240px 87px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;

  list-style: none;

  counter-reset: advantages;
}

.advantages-item {
  display: grid;
  gap: 30px;
  min-height: 384px;

  background-color: rgba(131, 179, 211, 0.12);

  counter-increment: advantages;
}

.advantages-item-large {
  grid-column: 1 / -1;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  padding: 0;

  color: rgba(255, 255, 255, 1);
  background-color: rgba(131, 179, 211, 1);
}

.advantages-item:not(.advantages-item-large):nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-description {
  display: grid;
  align-content: start;
  gap: 30px;
  min-height: 384px;
  padding: 60px;
  padding-top: 98px;
}

.advantages-description::before {
  content: "— №" counter(advantages) " —";
}

.advantages-list-inner {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;

  color: rgba(51, 51, 51, 1);
  background-color: rgba(255, 255, 255, 1);

  list-style: none;
}

.advantages-inner-item {
  display: grid;
  align-content: start;
  gap: 20px;
  min-height: 384px;
  padding: 60px;
  padding-top: 184px;

  background-repeat: no-repeat;
  background-size: 76px 76px;
  background-position: 50% 88px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-inner-item:nth-child(even) {
  background-color: rgba(255, 255, 255, 1);
}

.advantages-inner-item-house {
  background-image: url("../image/home-icon.svg");
  background-size: 75px 72px;
}

.advantages-inner-item-food {
  background-image: url("../image/food-icon.svg");
  background-size: 74px 70px;
}

.advantages-inner-item-present {
  background-image: url("../image/gift-icon.svg");
  background-size: 64px 76px;
}

.advantages-title {
  margin: 0;

  color: rgba(0, 0, 0, 1);

  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-large .advantages-title {
  color: rgba(255, 255, 255, 1);
}

.advantages-inner-item .advantages-title {
  color: rgba(0, 0, 0, 1);
}

.advantages-description .advantages-title {
  order: -1;
}

.advantages-img {
  grid-column: span 2;
  width: 100%;
  height: 0;
  min-height: 100%;
  object-fit: cover;
}

.advantages-item-large:nth-child(2) .advantages-img {
  order: -1;
}

.advantages-text {
  margin: 0;

  line-height: 21px;
}

.serch-button {
  padding: 15px 0;
  font-size: 20px;
  line-height: 36px;
  width: 575px;
  height: 60px;
  border-radius: 10px;
  margin: 0 auto 93px;
}

.subscribe-button {
  background-color: rgba(131, 179, 211, 1);
  font-family: inherit;
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
  width: 200px;
  border: none;
  border-radius: 0px 10px 10px 0px;
}

.subscribe-button:hover {
  background-color: rgba(104, 162, 202, 1);
}

.subscribe-button:focus:not(:active) {
  background-color: rgba(104, 162, 202, 1);
  outline: 3px solid rgba(117, 98, 87, 1);
}

.email-bar {
  display: flex;
  flex-direction: column;
  background-image: url("../image/email-background.jpg");
  color: rgba(255, 255, 255, 1);
  width: 1200px;
  height: 411px;
}

/* Каталог */

.catalog-header {
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  padding-top: 35px;
  padding-left: 71px;
  font-size: 60px;
  height: 102px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 65px;
  margin-bottom: 47px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item + .breadcrumbs-item {
  position: relative;
  margin-left: 10px;
}

.breadcrumbs-item + .breadcrumbs-item::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  left: -7px;
  width: 5px;
  height: 8px;
  background-image: url("../image/catalog/bread-crunch-arrow.svg");
  opacity: 0.3;
}

.breadcrumbs-link {
  display: flex;
  padding: 3px 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus {
  outline: 3px solid rgba(131, 179, 211, 1);
  outline-offset: -3px;
}

.breadcrumbs-link-home {
  width: 28px;
  height: 27px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../image/catalog/bread-crunch-home.svg");
}

.filter-header {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 32px;
  font-style: normal;
  padding: 0;
}

.catalog-filter-background {
  background-color: rgba(131, 179, 211, 1);
  background-image: url("../image/filter-background.jpg");
  width: 1200px;
  height: 408px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 44px;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 16px;
}

.button-submit {
  background-color: rgba(131, 179, 211, 1);
  text-align: center;
  font-family: inherit;
  border: none;
  height: 48px;
  margin-bottom: 20px;
}

.button-submit:hover {
  background-color: rgba(104, 162, 202, 1);
}

.button-submit:focus:not(:active) {
  border-radius: 4px;
  outline: 3px solid rgba(255, 255, 255, 1);
  background-color: rgba(104, 162, 202, 1);
}

.button-submit:active {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.button-reset {
  background: none;
  text-transform: none;
  font-weight: 400;
  border: none;
  padding: 0;
}

.button-reset:hover {
  background-color: transparent;
  opacity: 0.6;
}

.button-reset:focus:not(:active) {
  border-radius: 4px;
  box-shadow: 0px 0px 0px 0px rgba(129, 179, 210, 1) inset;
  background-color: transparent;
}

.button-reset:active {
  outline: none;
  opacity: 0.3;
}

.section-header {
  margin: 0;
  padding: 5px 0;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.select-button {
  display: grid;
  grid-template-columns: max-content 50px;
  justify-content: space-between;
  padding-left: 15px;
  border: 2px solid rgba(230, 230, 230, 1);
  border-radius: 4px;
  user-select: none;
  height: 50px;
  line-height: 40px;
}

.select-button::after {
  content: "";
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../image/catalog/list-icon-arrow.svg");
}

.select-button:hover:not(:active) {
  border-color: rgba(131, 179, 211, 1);
}

.select-button:active {
  color: rgba(51, 51, 51, 0.3);
}

.select-button:focus:not(:active) {
  outline: none;
  border-color: rgba(131, 179, 211, 1);
}

.select-button:active::after {
  opacity: 0.3;
}

.select {
  position: relative;
}

.select[open] .select-button::after {
  transform: rotate(180deg);
}

.select[open] {
  z-index: 2;
}

.select-menu {
  position: absolute;
  list-style-type: none;
  border-radius: 4px;
  top: 100%;
  width: 100%;
  background-color: rgba(242, 242, 242, 1);
  padding-inline-start: 0;
  box-shadow: 5px 10px 20px rgba(0, 1, 1, 0.2);
}

.select-item {
  padding: 10px 18px;
}

.select-item:hover {
  background-color: rgba(230, 230, 230, 1);
}

.select-item-active a {
  color: rgb(126, 126, 126);
}

.select-option {
  color: rgba(51, 51, 51, 1);
  text-decoration: none;
}

.pages {
  width: 160px;
}

.view {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: -4px;
  padding: 0;
}

.view-item {
  margin: 4px;
}

.view-link {
  display: block;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 2px solid rgba(230, 230, 230, 1);
  border-radius: 4px;
}

.view-tile {
  background-image: url("../image/catalog/mode-tile-icon.svg");
}

.view-slide {
  background-image: url("../image/catalog/mode-slideshow-icon.svg");
}

.view-list {
  background-image: url("../image/catalog/mode-list-icon.svg");
}

.view-link[href]:hover {
  border-color: rgba(131, 179, 211, 1);
}

.view-link[href]:active {
  border-color: rgba(0, 0, 0, 1);
}

.view-link:focus {
  outline: none;
  border-color: rgba(131, 179, 211, 1);
}

.view-item-active .view-link {
  border-color: rgba(0, 0, 0, 1);
}

.card-link {
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
}

.card-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 160px;
  left: 0;
  z-index: 1;
}

.card-link:focus {
  outline: none;
}

.card-link:hover + .card-img {
  opacity: 0.6;
}

.card-link:active + .card-img {
  opacity: 0.3;
}

.card-link:focus:not(:active) + .card-img {
  outline: 3px solid rgba(131, 179, 211, 1);
}

.card-description-defenition {
  margin-left: 10px;
}

.button-card {
  width: 133px;
  grid-column: 1/2;
}

.button-card:hover {
  background-color: rgba(97, 80, 72, 1);
}

.button-card:active {
  background-color: rgba(97, 80, 72, 1);
}

.button-card:focus:not(:active) {
  background-color: rgba(97, 80, 72, 1);
}

.button-favourites {
  background-color: rgba(131, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  justify-self: end;
  text-decoration: none;
  padding-top: 9px;
  border-radius: 4px;
  width: 140px;
}

.button-favourites:hover {
  background-color: rgba(104, 162, 202, 1);
  outline: 1px solid rgba(117, 98, 87, 1);
}

.button-favourites:active {
  background-color: rgba(104, 162, 202, 1);
  outline: 1px solid rgba(117, 98, 87, 1);
  color: rgba(255, 255, 255, 0.3);
}

.button-favourites:focus:not(:active) {
  border-radius: 4px;
  outline: 3px solid rgba(117, 98, 87, 1);
  background-color: rgba(104, 162, 202, 1);
}

.button-favourites-checked {
  background-color: rgba(125, 181, 79, 1);
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  justify-self: end;
  text-decoration: none;
  padding-top: 9px;
  width: 140px;
  border-radius: 4px;
}

.button-favourites-checked:hover {
  background-color: rgba(108, 158, 66, 1);
}

.button-favourites-checked:active {
  background-color: rgba(108, 158, 66, 1);
  color: rgba(255, 255, 255, 0.3);
}

.button-favourites-checked:focus:not(:active) {
  background-color: rgba(108, 158, 66, 1);
  outline: 3px solid rgba(117, 98, 87, 1);
}

.button-favourites,
.button-favourites-checked {
  grid-column: 3/4;
}

.card-rate {
  justify-self: end;
  min-width: 160px;
  margin: 0;
  padding: 7px 8px 6px;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  line-height: 24px;
  grid-column: 3/4;
  border-radius: 4px;
}

.star {
  width: 23px;
  margin: 0;
  min-height: 37px;
  grid-column: 1/2;
  background-repeat: repeat-x;
  background-position: 0 50%;
  background-size: 23px 17px;
  background-image: url("../image/catalog/rating-star.svg");
}

.star-two {
  width: 46px;
}

.star-three {
  width: 69px;
}

.star-four {
  width: 92px;
}

.star-five {
  width: 115px;
}

.border-button {
  margin: 0 72px;
  border-top: 1px solid rgba(230, 230, 230, 1);
  border-bottom: 1px solid rgba(230, 230, 230, 1);
}

.load-more {
  width: 620px;
  height: 60px;
  background-color: rgba(131, 179, 211, 1);
  font-size: 20px;
  margin: 0 auto;
  padding: 17px 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border: none;
  text-align: center;
  font-family: inherit;
  line-height: normal;
}

.load-more:hover {
  background-color: rgba(104, 162, 202, 1);
}

.load-more:active {
  background-color: rgba(104, 162, 202, 1);
  color: rgba(255, 255, 255, 0.3);
}

.load-more:focus:not(:active) {
  outline: 3px solid rgba(117, 98, 87, 1);
  background-color: rgba(104, 162, 202, 1);
}

.pagination {
  width: 100%;
  padding: 0 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 73px;
}

.pagination-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.pagination-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  font-family: PT Sans;
  font-style: normal;
  line-height: normal;
}

.pagination-select {
  display: flex;
  gap: 51px;
  align-items: center;
}

.pagination-select p {
  margin: 0;
}

.pagination-select .select {
  width: 160px;
}

.pagination-item {
  list-style: none;
  background-color: rgba(131, 179, 211, 1);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-right: 8px;
  border-radius: 4px;
}

.pagination-item:hover:not(.pagination-item-active) {
  background-color: rgba(104, 162, 202, 1);
}

.pagination-item a:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.pagination-link:focus:not(:active) {
  border-radius: 4px;
  outline: 3px solid rgba(117, 98, 87, 1);
  outline-offset: 0px;
  background-color: rgba(104, 162, 202, 1);
}

.pagination-item-active {
  background-color: transparent;
}

.pagination-item-active a,
.pagination-item-active a:active {
  color: rgba(0, 0, 0, 1);
  border-radius: 4px;
  background-color: rgba(242, 242, 242, 1);
}

.email-bar-catalog {
  margin-bottom: 141px;
}

.email-bar-head {
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 94px 240px 29px 240px;
}

.email-bar-head-catalog {
  color: rgba(0, 0, 0, 1);
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 46px;
}

.email-bar .section-text,
.email-bar-text {
  margin-bottom: 46px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.email-form {
  display: grid;
  justify-content: center;
  grid-template-columns: 600px 200px;
  box-sizing: border-box;
}

.field-input {
  height: 60px;
  width: 600px;
  padding-left: 22px;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  border: none;
  border-radius: 10px 0px 0px 10px;
  background-color: rgba(242, 242, 242, 1);
}

.field-input:hover {
  background-color: rgba(230, 230, 230, 1);
}

.field-input:focus {
  outline: none;
  border: 3px solid rgba(131, 179, 211, 1);
  background-color: rgba(230, 230, 230, 1);
}

.field-input:invalid {
  border: 3px solid rgba(255, 87, 87, 1);
  background-color: rgba(255, 255, 255, 1);
}

.section-title {
  margin: 0 240px;
  margin-bottom: 31px;
}

.serch-button-bar {
  text-align: center;
}

.serch-button-bar .section-title {
  margin-bottom: 29px;
}

.main-advantages {
  text-align: center;
  margin-bottom: 91px;
}

.filter-form {
  display: grid;
  grid-template-columns: 200px 200px 1fr 224px;
  justify-content: space-between;
  gap: 17px;
  padding-left: 72px;
  padding-right: 72px;
}

.filter-fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-fieldset-prise {
  width: 288px;
  margin-left: 94px;
}

.filter-fieldset:nth-child(2) {
}

.filer-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filer-item {
  margin-bottom: 15px;
}

.filer-label {
  position: relative;
  display: block;
  padding-left: 40px;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  border-radius: 4px;
  background: rgba(255, 255, 255, 1);
}

input[type="checkbox"]:checked + .control-mark {
  background-image: url(../image/catalog/checked.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.filer-label:hover .control-mark {
  opacity: 0.6;
}

.checkbox:focus:not(:active) + .control-mark {
  border-radius: 4px;
  outline: 3px solid rgba(131, 179, 211, 1);
  opacity: 0.6;
}

.checkbox:active + .control-mark {
  opacity: 0.3;
}

.radio-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
}

input[type="radio"]:checked + .radio-mark::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  background: rgba(63, 94, 114, 1);
}

.radio:focus + .radio-mark {
  border-radius: 50%;
  outline: 3px solid rgba(131, 179, 211, 1);
}

.radio:active + .radio-mark {
  border-radius: 50%;
  box-shadow: 0px 0px 0px 3px rgba(131, 179, 211, 1) inset;
}

.range-input-zones {
  display: flex;
  height: 52px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.range-item {
  position: relative;
}

.range-input-min,
.range-input-max {
  width: 144px;
  height: 48px;
  padding-left: 17px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 1);
  font: inherit;
  color: rgba(255, 255, 255, 1);
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input-min {
  border-radius: 4px 0px 0px 4px;
}

.range-input-max {
  border-radius: 0px 4px 4px 0px;
}

.range-input-min:hover,
.range-input-max:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.range-input-min:focus,
.range-input-max:focus {
  outline: 3px solid rgba(131, 179, 211, 1);
  border-color: rgba(255, 255, 255, 1);
  box-shadow: inset 0 0 0 3pxrgba (131, 179, 211, 1);
}

.range-input-min:not(:placeholder-shown):focus,
.range-input-max:not(:placeholder-shown):focus {
  background-color: rgba(117, 98, 87, 1);
  border-color: rgba(255, 255, 255, 1);
  box-shadow: none;
  outline: none;
}

.range-header {
  position: absolute;
  font-style: normal;
  line-height: normal;
  opacity: 0.3;
  right: 17px;
  top: 12px;
  cursor: text;
}

.range-header:hover + input {
  border-color: rgba(255, 255, 255, 0.6);
}

.range-slider {
  height: 4px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.slider-area {
  width: 100%;
  height: 4px;
  opacity: 0.3;
  background-color: rgba(255, 255, 255, 1);
}

.slider-bar {
  position: absolute;
  top: 0;
  width: 235px;
  height: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.slider-toggle {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.slider-toggle:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.slider-toggle:focus:not(:active) {
  outline: 3px solid rgba(131, 179, 211, 1);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.slider-toggle:active {
  outline: 2px solid rgba(131, 179, 211, 1);
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.toggle-max {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.card-list-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  row-gap: 11px;
  justify-items: center;
  margin-bottom: 34px;
  padding: 0 72px;
}

.card {
  position: relative;
  display: grid;
  align-content: start;
  grid-template-columns: 1fr 26px 140px;
  grid-template-rows: 206px;
  row-gap: 16px;
  padding: 20px;
}

.card-link {
  grid-column: 1/4;
  grid-row: 2/3;
  margin: 0;
  text-decoration: none;
  line-height: normal;
}

.card-img {
  grid-column: 1/4;
  justify-self: center;
}

.card-description {
  grid-column: 1/4;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: normal;
}

.result-filer-flex {
  display: grid;
  padding: 0 70px;
  grid-template-columns: 1fr 287px max-content;
  gap: 80px;
  margin-bottom: 50px;
  align-self: center;
}

/* Модальное окно */

.modal-open {
  position: fixed;
  display: flex;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-content {
  position: relative;
  margin: auto;
  width: 715px;
  height: 561px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.15);
  padding: 60px 70px 70px 70px;
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.modal-close {
  position: absolute;
  right: 70px;
  top: 54px;
  border-radius: 50%;
  width: 53px;
  height: 53px;
  background-color: rgba(242, 242, 242, 1);
  border: none;
  cursor: pointer;
  padding: 0;
}

.modal-close::after {
  content: "";
  display: block;
  width: 53px;
  height: 53px;
  background-image: url(../image/modal-close\ 1.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.modal-close:hover,
.modal-close:active {
  background-color: rgba(230, 230, 230, 1);
}

.modal-close:active::after {
  opacity: 0.3;
}

.modal-close:focus:not(:active) {
  outline: 3px solid rgba(131, 179, 211, 1);
  outline-offset: 0;
}

.modal-form {
  margin: 0;
  padding: 0;
  border: none;
}

.modal-form-header {
  width: 499px;
  height: 67px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 32px;
  padding: 0;
}

.modal-form-label {
  display: grid;
  grid-template-columns: 155px 420px;
  margin-bottom: 11px;
  align-items: center;
}

.modal-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.modal-value-flex:last-child {
  justify-content: flex-end;
}

.modal-value-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-form-input {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  background-color: rgba(242, 242, 242, 1);
}

.modal-form-input:hover {
  background-color: rgba(230, 230, 230, 1);
}

.modal-form-input:focus:not(:active) {
  background-color: rgba(230, 230, 230, 1);
  outline: 3px solid rgba(131, 179, 211, 1);
}

.modal-form-input:active {
  background-color: rgba(255, 255, 255, 1);
  outline: none;
}

.input-date {
  width: 420px;
  height: 50px;
  border-radius: 4px;
  border: none;
  padding-left: 19px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: url(../image/date\ 1.svg);
  padding-right: 19px;
}

.modal-form-error {
  width: 420px;
  line-height: 29px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 87, 87, 1);
  margin: 0;
  grid-column: 2/3;
}

.modal-form-success {
  width: 420px;
  line-height: 29px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  margin: 0;
  grid-column: 2/3;
}

.modal-form-input[type="number"] {
  width: 133px;
  height: 50px;
  border-radius: 4px;
  border: none;
  text-align: center;
}

.button-position {
  position: relative;
  width: 133px;
  height: 50px;
}

.modal-button-min,
.modal-button-max {
  position: absolute;
  border: none;
  background-color: transparent;
  opacity: 0.3;
}

.modal-button-max {
  width: 25px;
  height: 25px;
  padding: 0;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../image/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.modal-button-min {
  width: 25px;
  height: 25px;
  padding: 0;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../image/minus.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.modal-button-min:hover,
.modal-button-max:hover {
  opacity: 1;
}

.modal-button-min:focus:not(:active),
.modal-button-max:focus:not(:active) {
  opacity: 1;
  border-radius: 4px;
  outline: 3px solid rgba(131, 179, 211, 1);
}

.modal-button-min:active,
.modal-button-max:active {
  opacity: 0.2;
}

.modal-button-max:hover {
  opacity: 1;
}

.children-info-svg {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba(131, 179, 211, 1);
  margin-right: 20px;
  margin-left: 10px;
  margin-top: 5px;
}

.children-info-svg::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../image/info-2.svg);
  width: 1px;
  height: 9px;
}

.children-info-svg:hover .modal-form-popover-text {
  display: block;
}

.modal-form-popover-text {
  position: absolute;
  top: calc(100% + 15px);
  left: calc(50% - 128px);
  width: 256px;
  height: 143px;
  border-radius: 10px;
  background-color: rgba(51, 51, 51, 1);
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 18px 18px 22px;
  display: none;
}

.modal-form-popover-text::before {
  content: "";
  position: absolute;
  background-image: url(../image/popover-vector.svg);
  width: 19px;
  height: 9px;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
}

.modal-form-button {
  width: 575px;
  height: 60px;
  margin: 40px auto 70px auto;
  border-radius: 10px;
}

.modal-form-button:focus:not(:active) {
  outline: 3px solid rgba(117, 98, 87, 1);
}
